{% extends 'layout.html' %}

{% block title %}
    Hardware
{% endblock %}

{% block body %}

<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
							<li><a href="#">Our Products</a><i class="icon-angle-right"></i></li>
							<li class="active">Hardware</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

<section id="content">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h4>
                            {% for category in categories %}
                                {{ category.category_description }}
                            {% endfor %}
                        </h4>
					</div>
				</div>
				<!-- divider -->
				<div class="row">
					<div class="col-lg-12">
						<div class="solidline">
						</div>
					</div>
				</div>
				<!-- end divider -->
                <div id="grid">
                    <div id="posts">
                        {% for category in categories %}
                            {% for item in category.items %}
                                <div class="post" id="{{ item.href }}">
                                    <!--TODO find a way to provide more universal image src -->
                                    <img alt="{{ item.name }}" style="width: 100%" src="../../../static/img/products/{{ item.picture_uri }}">
                                    <br>
                                    <p style="font-size: large"><strong>{{ item.name }}</strong></p><br>
                                    <p><small>{{ item.description }}</small></p>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>

			</div>
		</section>


{% endblock %}