<!-- footer -->


<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="widget">
							<h5 class="widgetheading">Get in touch with us</h5>
							<address>
					<strong>I-Power Industry & Trade Co. Ltd</strong><br>
					 Umukindo Center / Gisozi, Gakinjiro<br>
                                Kigali, Rwanda
					  </address>
							<p>
								<i class="icon-phone"></i>(250) 73 22 43 000 - (250) 78 22 43 000<br>
								<i class="icon-envelope-alt"></i> info@ipowerindustry.com
							</p>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="widget">
							<h5 class="widgetheading">Pages</h5>
							<ul class="link-list">
                                <li><a href="about">About Us</a></li>
                                <li><a href="brands">Our Partners</a></li>
                                <li><a href="contacts">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="widget">
							<h5 class="widgetheading">We offer</h5>
							<ul class="link-list">
                                <li><a href="construction">Construction services</a></li>
                                <li><a href="hardware">Hardware tools</a></li>
                                <li><a href="agriculture">Agriculture equipment</a></li>
                                <li><a href="other">Everything required for your project</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="widget">
							<h5 class="widgetheading">Products's Photostream</h5>
							<div class="flickr_badge">
								<script type="text/javascript" src="https://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=156123970@N02"></script>
							</div>
							<div class="clear">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="sub-footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="copyright">
								<p>&copy; I-Power Industry & Trade Co. Ltd. All right reserved.</p>
								<div class="credits">
									Frontend and backend by <a href="https://leiko.me/">Ilja Leiko</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
<!-- //footer -->