	<div class="header" id="home">
		<div class="container">
			<div>
                <a href="/"><img class="w3l_logo" src="{{ url_for('static', filename='img/logo.png') }}" width="80%"></a>
            </div>
            <div class="clearfix"> </div>
		</div>
	</div>