<header>
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" height="100px"></a>
					</div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav">
							<li><a href="/">Home</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Our Products <b class=" icon-angle-down"></b></a>
								<ul class="dropdown-menu">
									<li><a href="construction">Construction</a></li>
									<li><a href="hardware">Hardware</a></li>
									<li><a href="agriculture">Agriculture</a></li>
                                    <li><a href="other">Project & Other</a></li>
								</ul>
							</li>
							<li><a href="brands">Brands</a></li>
							<li><a href="about">About Us</a></li>
							<li><a href="contacts">Contacts</a></li>
						</ul>
					</div>
				</div>
			</div>

</header>


