{% extends 'layout.html' %}

{% block title %}
    About I-Power
{% endblock %}

{% block body %}
        <section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
							<li><a href="#">About Us</a><i class="icon-angle-right"></i></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

<section id="content">
			<div class="container">

				<!-- Descriptions -->
				<div class="row">
					<div class="col-lg-12">
                        <img src="../../static/img/about_img.jpg" alt="" class="align-right" width="50%" />
                        <!-- Description -->
						<h4>About I-Power Industry & Trade Co. Ltd</h4>
						<dl>
							<dt>OVERVIEW</dt>
							<dd>
                                        I-Power Industry and Trade is a specialized trading company of architectural
                                and building materials that connects housing material manufacturers with users such as building
                                material wholesalers and house constructors. We are a “multi-functional specialized trading company”
                                responsible for the sale of various housing materials, the development of product and distribution
                                channels for housing materials, the supply of housing parts/components both inside and outside of Rwanda,
                                and working with related building construction contracts. As a company that can respond to various needs
                                ranging from the procurement of materials to processing and sales, we are expanding the reach of our
                                business in not only the field of new housing and apartment interiors, but also in the reform and
                                non-housing fields.
                            </dd>

							<dt>EXPERIENCE</dt>
							<dd>
                                In addition to our expertise in our product lines, manufacturing and trading, our group
                                enjoys over 15 collective years of technical, advisory and
                                support experience and  also the company had tie up over 20 international companies
                                who are prominent suppliers of various products throughout the world.
                            </dd>
							<dt>OUR SUPPLIERS</dt>
							<dd>
                                We now offer our services on a project to project,
                                or a long term contractual basis to both large and small developers throughout  Rwanda and
                                specifically within Kigali.
                                Our suppliers share and provide us with a value added experience, where they in turn and on a
                                continuous basis append us with their latest norms, product features and usage. Our suppliers
                                follow up with worldwide product distribution, installation and maintenance and create an infinite
                                network of knowledge among all retailers.
                            </dd>
						</dl>
					</div>

				</div>
			</div>
		</section>
{% endblock %}