{% extends 'layout.html' %}

{% block title %}
    Brands
{% endblock %}

{% block body %}

<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
							<li><a href="#">Our Brands</a><i class="icon-angle-right"></i></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

    <div class="text-center" style="margin-top: 30px; margin-bottom: 30px">
        <img class="brands_img" src="{{ url_for('static', filename='img/brands.jpg') }}">
    </div>

{% endblock %}