{% extends 'layout.html' %}

{% block title %}
    Categories
{% endblock %}

{% block body %}

    <table style="width:100%">
      <tr>
        <td>Title</td>
        <td>Description</td>
      </tr>
      {% for category in categories %}
          <tr>
            <td>{{ category.category_title }}</td>
            <td>{{ category.category_description }}</td>
          </tr>
          <tr>
              {% for item in category.items %}
                  <td>{{ item.name }}</td>
                  {% for picture in item.pictures %}
                    <td>{{ picture.picture_name }}</td>
                  {% endfor %}
              {% endfor %}
          </tr>
      {% endfor %}
    </table>
{% endblock %}



