{% extends 'layout.html' %}

{% block title %}
    Contacts
{% endblock %}

{% block body %}

    <section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<ul class="breadcrumb">
							<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
							<li><a href="#">Contact Us</a><i class="icon-angle-right"></i></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

    {% if message %}
        {{ message }}
    {% endif %}
    {% if success %}
       <div class="alert alert-success">
          <strong>Thank you for your message.</strong> We will get back to you shortly.
        </div>
     {% endif %}

<section id="content">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
                            <h4>We are here for you</h4>
                            <img src="../../static/img/contact_img.jpg" alt="" class="align-right" width="40%"/>
                            <dl class="dl-horizontal">
                                <dt>BUY</dt>
                                <dd>You can start buying goods from our provided products by clicking contact button,
                                        filling the right information in the form and sending us your request.</dd>
                                <br>
                                <dt>SELL</dt>
                                <dd>If you have goods that you want us to sell - click contact button,
                                        fill in the right information in the form and send us your proposal. We would review it and get back to you.
                                    </dd>
                            </dl>

                        <!-- divider -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="solidline">
                                </div>
                            </div>
                        </div>
                        <!-- end divider -->
						<h4>Get in touch with us by filling <strong>contact form below</strong></h4>
                        <form action="{{ url_for('offer_sections.contact') }}" method="post" role="form" class="contactForm">
							<div class="form-group">
								<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
							</div>
							<div class="form-group">
								<input type="text" name="last_name" class="form-control" placeholder="Your Last Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
							</div>
							<div class="form-group">
								<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
								<div class="validation"></div>
							</div>

							<div class="text-center"><button type="submit" class="btn btn-theme">Send Message</button></div>
						</form>
					</div>
				</div>
			</div>
		</section>

{% endblock %}