{% extends 'layout.html' %}

{% block title %}
    I-Power
{% endblock %}

{% block body %}
		<section id="featured">
			<!-- start slider -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<!-- Slider -->
						<div id="main-slider" class="flexslider">
							<ul class="slides">
								<li>
									<img src="{{ url_for('static', filename='img/carousel_1.jpg') }}" alt="" />
									<div class="flex-caption">
										<h3>Doors</h3>
										<p>We produce high quality doors you will like!</p>
										<a href="{{ url_for('static', filename='catalogs/Doors.pdf') }}" target="_blank" class="btn btn-theme">Learn More</a>
									</div>
								</li>
								<li>
									<img src="{{ url_for('static', filename='img/carousel_2.jpg') }}" alt="" />
									<div class="flex-caption">
										<h3>Balconies</h3>
										<p>Adding value to your property</p>
										<a href="construction" class="btn btn-theme">Learn More</a>
									</div>
								</li>
								<li>
									<img src="{{ url_for('static', filename='img/carousel_3.jpg') }}" alt="" />
									<div class="flex-caption">
										<h3>Aluminum & PVC Works</h3>
										<p>We produce aluminum doors, windows, bath doors, p.v.c. paneling, celling and so much more!</p>
										<a href="{{ url_for('static', filename='catalogs/Kamaka.pdf') }}" target="_blank" class="btn btn-theme">Learn More</a>
									</div>
								</li>
								<li>
									<img src="{{ url_for('static', filename='img/carousel_4.jpg') }}" alt="" />
									<div class="flex-caption">
										<h3>Handrails & Staircases</h3>
										<p>A luxury staircase in the foyer can be quite the centerpiece in any home and can accentuate the overall home decor..</p>
										<a href="construction" class="btn btn-theme">Learn More</a>
									</div>
								</li>
								<li>
									<img src="{{ url_for('static', filename='img/carousel_5.jpg') }}" alt="" />
									<div class="flex-caption">
										<h3>Generators & Solar Heaters</h3>
										<p>Demand for solar power is rapidly heating up. We provide all sorts of generators and solar heaters.</p>
										<a href="{{ url_for('static', filename='catalogs/Diesel_generators.pdf') }}" target="_blank" class="btn btn-theme">Learn More</a>
									</div>
								</li>
								<li>
									<img src="{{ url_for('static', filename='img/carousel_6.jpg') }}" alt="" />
									<div class="flex-caption">
										<h3>Iron Works</h3>
										<p>From custom designs to sports memorabilia, sturdy signs to elegant decor,
                                            we strive to bring you the highest quality of product available.</p>
										<a href="construction" class="btn btn-theme">Learn More</a>
									</div>
								</li>
							</ul>
						</div>
						<!-- end slider -->
					</div>
				</div>
			</div>
		</section>


		<section class="callaction">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="big-cta">
							<div class="cta-text">
                                <h2>Welcome To <span>I-Power Industry & Trade Co. Ltd</span></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

        <section id="content">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-3">
								<div class="box">
									<div class="box-gray aligncenter">
										<h4>Out catalogs</h4>
										<div class="icon">
											<i class="fa fa-file fa-3x"></i>
										</div>

                                        <ul class="catalog">
                                            <li><a href="{{ url_for('static', filename='catalogs/Diesel_generators.pdf') }}" target="_blank">Diesel generators</a></li>
                                            <li><a href="{{ url_for('static', filename='catalogs/Doors.pdf') }}" target="_blank">Doors</a></li>
                                            <li>Catalog <a href="{{ url_for('static', filename='catalogs/Kamaka.pdf') }}" target="_blank">One</a> &
                                                <a href="{{ url_for('static', filename='catalogs/Catalog_2.pdf') }}" target="_blank">Two</a></li>
                                        </ul>

									</div>
									<div class="box-bottom">
										<a>Choose the catalog</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="box">
									<div class="box-gray aligncenter">
										<h4>Our Products</h4>
										<div class="icon">
											<i class="fa fa-industry fa-3x"></i>
										</div>
										<p>
											See our groundbreaking products,
                                            designed to help you achieve more!
										</p>

									</div>
									<div class="box-bottom">
										<a>See navigation bar</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="box">
									<div class="box-gray aligncenter">
										<h4>Our Partners</h4>
										<div class="icon">
											<i class="fa fa-briefcase fa-3x"></i>
										</div>
										<p>
											Proud to have partners and strategic
                                            alliances to deliver award-winning products and services.
										</p>

									</div>
									<div class="box-bottom">
										<a href="brands">Click to learn more</a>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="box">
									<div class="box-gray aligncenter">
										<h4>Contact Us</h4>
										<div class="icon">
											<i class="fa fa-envelope-open fa-3x"></i>
										</div>
										<p>
											Have any questions?
                                            Please fill the form to contact us and we'll respond promptly.
										</p>

									</div>
									<div class="box-bottom">
										<a href="contacts">Send us an email</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- divider -->
				<div class="row">
					<div class="col-lg-12">
						<div class="solidline">
						</div>
					</div>
				</div>
				<!-- end divider -->
			</div>
		</section>

{% endblock %}
