<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Construction, industry, doors" />

    <!-- For mobile apps - hide URL bar -->
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); }
    </script>

    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for('static', filename='css/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/jcarousel.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename='css/flexslider.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mansory.css') }}" />

	<!-- Theme skin -->
	<link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yrsa" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        {% include 'includes/_navbar.html' %}

        {% block body %}{% endblock %}

        {% include 'includes/_footer.html' %}
    </div>


    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <!-- Javascripts -->


	<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.fancybox.pack.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.fancybox-media.js') }}"></script>
	<script src="{{ url_for('static', filename='js/google-code-prettify/prettify.js') }}"></script>
	<script src="{{ url_for('static', filename='js/portfolio/jquery.quicksand.js') }}"></script>
	<script src="{{ url_for('static', filename='js/portfolio/setting.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
	<script src="{{ url_for('static', filename='js/animate.js') }}"></script>
	<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    <script src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mansory.js') }}"></script>





</body>
</html>